/* ================================
   Main Stylesheet
   ================================ */

/* Import component variables */
@import url('./colors.css');
@import url('./typography.css');
@import url('./spacing.css');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  background-color: var(--white);
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: var(--white);
}
.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--bg-white);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.background_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('./assets/images/pattern-bg-mobile.png');
  height: 37.5%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
}

h1 {
  : var(--white);
}

input {
  font-family: var(--font-family-primary);
  font-size: var(--text-4-size);
  padding: var(--spacing-200);
  border: 0;
  outline: none;
  height: 100%;
  flex: 1;
  background: var(--white);
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 58px;
  border-radius: 15px;
  overflow: hidden;
}

  .card-container {
  /* position: absolute; */

  height: 37.5vh;
} 
.card {
  /* position: absolute; */
      padding: var(--spacing-400) var(--spacing-200) 0;

} 

.input-button {
  background: var(--black);
  height: 100%;
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.data-card {
  background: var(--white);
  width: 100%;
 width: 327px;
  max-height: 420px;
  border-radius: 15px;
  padding: var(--spacing-400);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: var(--spacing-100);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  margin-top: var(--spacing-300);
  z-index: 2;
  position: absolute;
  top: 16%;

}

.data-card-item {
  text-align: center;
  width: 100%;
}
.data-card-item .text-preset-6 {
  opacity: 0.5;
}

#map {
  height: 62.5vh;
  width: 100vw;
  margin: 0;
}